<div class="container">
  <div class="card">
    <div class="card-title">
      <h1><strong>Bienvenido al sitio web de cobranza y pago</strong></h1>
    </div>

    <div class="card-body">
      <!-- Carousel -->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h6>Aquí podrás relizar varias acciones como consultar, dar de alta y cobrar a usuarios</h6>
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
          </div>
          <div class="carousel-item">
            <h6>dependiendo que tipo de registro tengas</h6>
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
          </div>
          <div class="carousel-item">
            <h6>deudor o propietario.</h6>
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div> <br>
<div class="container">
  <div class="card">
    <div class="card-title"></div>
    <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block">Iniciar sesión como propietario</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Iniciar sesión como deudor</button>

    </div>
  </div>
</div>
