<br>
<div class="container">
  <div class="card">
    <div class="card-title">
      <h1><strong>Propietario</strong></h1>
    </div>
    <div class="card-body">
      <!-- Formulario dar de alta a usuarios -->
      <form>
        <h4><strong>Dar de alta a usuarios</strong></h4>
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre completo: </label>
          <input type="text" class="form-control" id="nombreCompleto" placeholder="Nombre completo">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Teléfono: </label>
          <input type="numer" class="form-control" id="telefono" placeholder="Telefono">
        </div>
        <div>
          <label for="exampleInputEmail1">Correo Eléctronico: </label>
          <input type="email" class="form-control" id="correoElectronico" aria-describedby="emailHelp"
            placeholder="Correo eléctronico">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña: </label>
          <input type="password" class="form-control" id="contra" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn btn-outline-dark btn-lg btn-block" id="enviar">Dar de alta</button>
      </form>
    </div>
  </div>
  <br>
